#wrapAll{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../pics/BG_Flex.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.darkBG{
	background: linear-gradient(45deg, rgba(114,113,110,0.7) 0%,rgba(0,0,0,0.4) 100%);
	height: 100%;
	width: 100%;
}
/*header*/
#header{
	width: 100%;
	position: absolute;
	height: 100px;
	top: 0px;
	background-color: rgba(0,0,0,0.85);
}
#headerInside{
	width: 100%;
	position: relative;
	height: 100px;
}
#headerLogo{
	margin: auto;
	height: 80px;
	background: url(../picsDodelat/Logo1.png);
	background-size: contain;
	background-repeat: no-repeat;
}